@charset "utf-8";
@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*  Variables css */
:root{
  --header-height: 3rem;
  --font-bold: 600;
  --font-normal: 400;

/* Font size */

  
  --title-size: 1.5rem;
  --subtitle-size: 1.2rem;
  --logo-size:1.0rem;
  --medium-size:0.8rem;
  --content-size: 0.7rem;
  --small-size:0.6rem;


/* Margenes */

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;


/* Z index */

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;


/* Common color */

  --text-color: #f0f4f5;
  --text-color-dark: #141414;
  --background-color: #fff;
  --main-color: rgb(241, 151, 72);
  --accent-color: #333eff;
  --shadow-color: #6C6C6C;
}

/* Base */
html,
body {
  width: 100%;
  background: #f9fafa;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  color: var(--text-color-dark);
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}
span {
  display: block;
}
h3 {
  font-size:var(--subtitle-size);
  font-weight: var(--font-bold);
}
h4{
  font-size: var(--subtitle-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-3);
}
section{
  height: 100%;
}
/* Class css */
.blind {
  display: none;
}
.paragraph{
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.title{
  font-size: var(--title-size);
  margin-right: var(--mb-6);
  margin-bottom: var(--mb-4);
}
.white__title{
  font-size: var(--title-size);
  margin-right: var(--mb-6);
  padding-top: var(--mb-5);
  color:var(--text-color);
}

/* Layout */
body .inner {
  width: calc(100% - 30%);
  height: calc(100% - 10rem);
  margin: 0 auto;
}

/* Fullpage Css - Sidebar */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: var(--background-color);
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: var(--accent-color);
}

/* Header */
header {
  height: var(--header-height);
  line-height: var(--header-height);
  position: fixed;
  z-index: var(--z-fixed);
  left: 0;
  right: 0;
  top: 0;
  background: var(--background-color);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}
header > .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

h1 a {
  font-weight: 800;
  font-size: var(--logo-size);
}
/* Nav container */
nav a {
  font-weight: bold;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  padding: 0 1rem;
}
nav li:hover a {
  color: var(--text-color);
}

/* Menu */
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_menu li:hover {
  background-color: var(--accent-color);
  border-radius: 0.2rem;
}
.navbar_toggleBtn {
  display: none;
}

/* Main page */
.main_page {
  width: 100%;
  height: inherit;
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 33%);
}
h2 {
  font-size: 5rem;
  line-height: 1;
  position: absolute;
  top: 22%;
  margin-left: -0.3rem;
  font-weight: var(--font-bold);
}
.main_page h3 {
  position: absolute;
  top: 56%;
  font-weight: var(--font-bold);
}
.main_page p {
  font-size: var(--logo-size);
  position: absolute;
  top: 63%;
  padding: 0.5rem 0;
}
.main_page .resume {
  top: 72%;
  border-radius: 1.5rem;
  padding: 0.4rem 1rem;
  background-color: var(--main-color);
}
.resume a {
  color: var(--background-color);
  font-weight: 400;
  height: 1rem;
  line-height: 1rem;
}
.resume:hover {
  background-color: var(--accent-color);
}

/* Typing animation */
.resume::before{
  content: "#결자해지! 맡은 일 끝까지!";
  position: absolute;
  top: 3rem;
  left: 0;
  width: fit-content;
  height: 0.9rem;
  color: var(--text-color-dark);
  overflow: hidden;
  padding-right: 0;
  font-size: 0.8rem;
  border-right: 1px  solid var(--text-color);
  animation: typing 9s steps(17) infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/* Profile + Decoration */
.profile{
  width: 36%;
}
.main_page .move{
  position: absolute;
  top: 56%;
  transform: translateY(-56%);
  right: 12%;
  z-index: var(--z-normal);
}
.main_page .photo{
  width: 26rem;
}
/* About section */
.about{
  width: 100%;
  height: auto; 
  display: flex;
  justify-content: space-between;
}

/* Info__container */
.info__container{
  width: 26rem;
  margin: var(--mb-1) var(--mb-5) 0;
}
.info__year{
  font-size: var(--small-size);
  margin: var(--mb-1) 0 0;
  color:var(--shadow-color);
}
.info__text{
  font-size: var(--medium-size);
  margin: var(--mb-1) 0 var(--mb-3);
  line-height: var(--mb-3);
}
.sub__text{
  font-size: var(--small-size);
  color:var(--shadow-color);
  line-height: var(--mb-3);
}
.br{
  display: inline;
}

/* Skills__container */
.skills__container{
  width: 16rem;
  height:fit-content;
  margin-top: var(--mb-1);
  margin-left: var(--mb-3);
}
.skills__text{
  font-size: var(--medium-size)  ;
  margin: var(--mb-3) 0;
  line-height: var(--mb-3);
}
.skills__data{
  width: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.4rem 1rem;
  margin-bottom: var(--mb-1);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  font-size: var(--content-size);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--accent-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color:var(--accent-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-fixed);
}
.skills__html{
  width: 90%;
}
#page2.active > .skills__html{
  width: 90%;
}

.skills__css{
  width: 80%;
}
.skills__js{
  width: 50%;
}
.skills__ux{
  width: 70%;
}
.skills__edit{
  width: 80%;
}


/* Web & Mobile section */
/* Web section */
.web,.web2,.web3,.web4{
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 2rem;
}
.pc__container{
  width:  60%;
  background-size: contain;
  float: left;
  height: 500px;
}
.webthumb1{
  background: url(../images/portpolio/grazie.png) no-repeat 50% 30%;
}
.webthumb2{
  background: url(../images/portpolio/ediyamain.png) no-repeat 50% 30%;
}
.webthumb3{
  background: url(../images/portpolio/ediyalab.png) no-repeat 50% 30%;
}
.webthumb4{
  background: url(../images/portpolio/welle.png) no-repeat 50% 30%;
}
.web__container > .slick-arrow{
  color:var(--background-color);
  opacity: 100%;
}
.web__container > .xi-angle-right{
right: 0;
bottom: -6rem;
transform: rotate(0);
}
.web__container > .slick-prev{
right: 3rem;
bottom: -6rem;
transform: rotate(-90rem);
}
.slick-track{
  width: 100%;
}

/* Modal window - web */
.open__web{
  display: block;
  color:var(--text-color);
  font-size: var(--subtitle-size);
  font-weight: var(--font-bold);
  position:absolute;
  z-index: var(--z-fixed);
  top:34%;
  transform: translateY(-34%);
  left:46%;
  transform: translateX(-46%);
}

.modal__web{
  z-index:var(--z-fixed);
  display:none;
  position: absolute;
  left:50%;
  top:46%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
  background-color: var(--background-color);
  box-shadow: 0 4px 25px rgba(14,36,49,.5);
  border-radius: .5rem;
}
/* Mobile section */
.mobile,.mobile2,.mobile3{
  margin-top: 2rem;
}
.mob__container{
  width: 60%;
  background-size: contain;
  float: left;
  height: 500px;
}
.mobthumb1{
  background: url(../images/portpolio/kolma.png) no-repeat 50% 30%;
}
.mobthumb2{
  background: url(../images/portpolio/hana.png) no-repeat 50% 30%;
}
.mobthumb3{
  background: url(../images/portpolio/ang.png) no-repeat 50% 30%;
}
.mob__all__container .slick-arrow{
  color:var(--background-color);
  opacity: 100%;
}
.mob__all__container > .slick-arrow{
  color:var(--background-color);
  opacity: 100%;
}
.mob__all__container > .xi-angle-right{
right: 0;
bottom: -6rem;
transform: rotate(0);
}
.mob__all__container > .slick-prev{
right:3rem;
bottom: -6rem;
transform: rotate(-90rem);
}
/* Modal window - mob */
.open__mob{
  display: block;
  color:var(--text-color);
  font-size: var(--subtitle-size);
  font-weight: var(--font-bold);
  position:absolute;
  z-index: var(--z-fixed);
  top:38%;
  transform: translateY(-38%);
  left:46%;
  transform: translateX(-46%);
}
.modal__mob{
  z-index:var(--z-fixed);
  display:none;
  position: absolute;
  left:50%;
  top:46%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
  background-color: var(--background-color);
  box-shadow: 0 4px 25px rgba(14,36,49,.5);
  border-radius: .5rem;
}

/* Modal window 공통*/
.slick-slider{
  width: 100%; height: 100%; overflow: hidden;
  margin-top: 2rem;
}
.modal__slide__web,.modal__slide__mob{
  width: 100%;
  height: 100%;
}
.photo__cover{
  width: 46vw;
}
.photo__cover img{
  width: 100%;
  object-fit: cover;
}
.slick-arrow{
  border:none;
  background: none;
  cursor: pointer;
  position:absolute;
  top: 46%;
  z-index: var(--z-tooltip);
  color:var(--text-color-dark);
  opacity: 60%;
}
.modal__web .slick-prev, .modal__mob .slick-prev{
  right: 0.1rem;
  transform: rotate(-270deg);
  font-size: 1.5rem;
}
.modal__web .slick-next, .modal__mob .slick-next{
  left: 0.1rem;
 transform: rotate(-90deg);
 font-size: 1.5rem;
}
.click{
  font-size: var(--small-size);
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color:var(--background-color);
  margin-top: 1rem;
  text-align: center;
  }
  .code{
    width: 50%;
  }
  .code a{
    font-size: var(--small-size);
    font-weight: var(--font-bold);
    color:var(--background-color);
    width: 100%;
    height: 14px;
    line-height: 14px;
    display: block;
  }
  .click:hover{
    background: var(--background-color);
    color: var(--accent-color);

  }
  .click:hover a{
    color: var(--accent-color);
  }
  .close{
    color:var(--accent-color);
    display: block;
    z-index: var(--z-fixed);
    margin: 0 var(--mb-1) 0 0;
    float: right;
  }
  .modal__dim{
    width:110%;
    height: 110%;
    color:#fff;
    position:relative;
    top:-1rem;
    object-fit: cover;
  }

/* Project__container */
.project__container{
  color:var(--text-color);
  width: 30%;
  float: right;
}

.project__container > h4{
  margin:0;
}
.project__container > .info__text{
  font-size: var(--medium-size);
  margin: var(--mb-2) 0 var(--mb-3);
  line-height: var(--mb-2);
}

/* Design section */
.design__text{
  font-size: 0.8rem;
  text-align: center;
}
.xi-mouse{
  display: block;
  text-align: center;
  margin: 1rem 0;
}
/* Design slider */
.lSSlideOuter {width:100%;
  margin-top: 2rem;
  text-align: center;
  }
  .lSSlideOuter .lSPager.lSGallery li
  {float:left;
    width:10%!important;
    height:fit-content;
  margin:0!important;
  }
  .lSGallery{width:100%!important;}
  .lSSlideOuter .lSPager.lSGallery li img{width:100%;height:100%;}

  .lslide img{box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19)}

/* Footer */
footer {
  background: var(--main-color);
  position:fixed;
  z-index: var(--z-fixed);
  width: 100%;
  height: 2rem;
  bottom: 0;
  color: var(--background-color);
  text-align: center;
  line-height: 2rem;
  font-size: var(--small-size);
  font-weight:var(--font-normal);
}
/*------------Media query----------------*/
@media screen and (max-width: 1800px) {
  .br{
    display: block;
  }
  .info__text{
    font-size: var(--medium-size);
    margin: var(--mb-1) 0 var(--mb-2);
    line-height: var(--mb-2);
  }
  .sub__text{
    font-size: var(--small-size);
    color:var(--shadow-color);
    line-height: var(--mb-2);
  }
  .open__web{
    left: 45%;
  }
  .open__mob{
    left: 45%;
  }
}
@media screen and (max-width: 1600px) {
  .photo__cover{
    padding-top: 1vw;
  }
}
  /* Layout */
@media screen and (max-width: 1520px) {
  /* Layout */
  /* Profile */
  .main_page .photo {
    width: 22rem;
  }
  }
@media screen and (max-width: 1438px) {
  .photo__cover{
    padding-top: 2vw;
  }
}

@media screen and (max-width: 1300px) {
/* Layout */
body .inner {
  width: calc(100% - 10%);
}
.photo__cover{
  width: 60vw;
  padding: 0;
} 
  /* Profile */
  .profile__text{
    margin-left: 6rem;
  }
  .main_page .photo {
    width: 18rem;
  }
}
@media screen and (max-width: 1160px) {
  .photo__cover{
    padding-top: 2vw;
  }
}
@media screen and (max-width: 1080px) {
  /* Profile colomn */
/* About */
.about{
   flex-direction: column;
   text-align: center;
   align-items: center;
}
.title{
  margin: 0;
}
.info__subtitle{
  margin: 2rem 0;
}
.br{
  display: inline;
}
/* Skills__container */
.skills__container{
margin-bottom:10rem;
}
/* Web */
.web,.web2,.web3,.web4{
  margin-top: 0;
}
.slick-slider{
  margin-top: 0;
  height: 90%;
}
.web__container{
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.pc__container{
  width:  100%;
  background-size: 70%;
  float: none;
  margin-top:2rem;
}
.project__container{
  width: 100%;
  float: none;
  margin-top:2rem;
  margin-bottom:12rem;
  align-items: center;
  text-align: center;
}
.open__web{
  top:36%;
  left: 50%;
  transform: translateX(-50%);
}
.project__container .click{
  margin: 0;
  width: 5rem;
  display: inline-block;
}
.project__container{
  margin-top: 0;
}
.project__container > .info__text {
  margin: var(--mb-1) 0 var(--mb-2);
  line-height: var(--mb-2);
}
.web__container > .slick-prev{
left: 0;
right: 0;
}
/* Mobile */
.mob__container{
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.mob__container{
  width:  100%;
  background-size: 68%;
  float: none;
}
.open__mob{
  top:40%;
  left: 51%;
  transform: translateX(-50%);
}
.modal__mob{
  top:54%;
}
.mob__all__container > .slick-prev{
left:0;
right: 0;
}
 /* Modal Slider */
 .mobile,.mobile2,.mobile3,.mobile4{
  margin-top: 0;
}
 .modal__dim{
  width:100%;
  height: 100%;
}
.photo__cover{
  width: 68vw;
  padding-left: 5rem;
  padding-right: 4rem;
}
.modal__slide__web .slick-prev,
.modal__slide__web .slick-next,
.modal__slide__mob .slick-prev,
.modal__slide__mob .slick-next{
  color: var(--accent-color);
}
}
@media screen and (max-width: 900px) {
  .profile__cover{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main_page .move{
    top:0;
    right: 0;
    position: static;
  }
  .profile__photo{
    width: fit-content;
    height:fit-content;
    margin-top: 14rem;
  }
   .profile__text{
     position:absolute;
     top:17rem;
     margin: 0;
     width: 16rem;
    height: 20rem;
    margin: 0;
    text-align: center;
   }
  .profile__text h2{
    font-size: 3rem;
  }
  .profile__text h2 span{
    display: inline;
    padding-left: 1rem;
  }
  .main_page h3 {
  top: 46%;
  font-size: var(--logo-size);
}.main_page p {
  top: 55%;
  text-align: center;
  left: 8%;
  line-height: 1.2rem;
}
.main_page .resume {
  top: 80%;
    text-align: center;
    left: 17%;
}
  .photo__cover{
    width: 80vw;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .pc__container{
    background-size: 90%;
  }
  .mob__container{
    width:  100%;
    background-size: 78%;
    float: none;
  }
}
@media screen and (max-width: 768px) {
  /* Layout */
  body .inner {
    width: calc(100% - 4em);
    margin: 0 auto;
  }
  /* Nav container */
  h1{
    margin-left: 2rem;
  }
  header > .inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar {
      background-color: var(--background-color);
    width: 100%;
    }
    #fp-nav {
      display: none;
    }
    /* Menu */
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
    padding: 0.4rem 0;
  }
  .navbar_menu a {
    display: block;
  }
  .navbar_menu li:hover{
    background-color: var(--accent-color);
  }
  .navbar_menu li:hover a{
    color:var(--background-color);
  }
  .resume::before{
  height: 1rem;}
  /* Web section */
  .open__web,.open__mob{
    font-size: var(--subtitle-size);
    top:34%;
    transform: translateY(-34%);
    left:50%;
    transform: translateX(-50%);
  }
  .photo__cover{
    width: 89vw;
    padding-left: 0rem;
    padding-right: 0rem;
  }
.modal__slide__web .slick-prev,
.modal__slide__web .slick-next,
.modal__slide__mob .slick-prev,
.modal__slide__mob .slick-next{
  color:var(--background-color);
}
.project__container{
  margin-top:-2rem;
}
  /* Mobile section */
  .open__mob{
    font-size: var(--subtitle-size);
    top:34%;
  }
  /* Toggle button */
  .navbar_toggleBtn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0.7rem;
    right: 2rem;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--accent-color);
  }

  /* Toggle button - clicked*/
  .navbar_toggleBtn.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar_toggleBtn.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .navbar_toggleBtn.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar_menu.active {
    display: flex;
  }
  }
  @media screen and (max-width: 640px) {
    .photo__cover{
      width: 86vw;
      margin-top: 1.4rem;
    }
    .open__mob{
      font-size: var(--content-size);
    }
    
    @media screen and (max-width: 550px) {
      .photo__cover{
        width: 84vw;
        margin-top: 3rem;
      }
      .pc__container{
        background-size: 100%;
      }
      .mob__container{
        background-size: 100%;
      }
      .project__container{
        margin-top:-3rem;
      }
  }
  @media screen and (max-width: 450px) {
    .photo__cover{
      width: 80vw;
      margin-top: 3rem;
    }
      .project__container{
        margin-top:-4rem;
      }
    }
    @media screen and (max-width: 370px) {
      .photo__cover{
        width: 76vw;
        margin-top: 3rem;
      }
      .open__web,.open__mob{
        font-size: var(--small-size);
}
h2{font-size: var(--content-size);}
}